.DownloadScreen{
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Download_Info{
    display: flex;
}

.Download_Info img{
    height: 300px;
}

.Download_Info p{
    font-size: 50px;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
   
    
}

.download_btn{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 20px;
    
}

@media only screen and (max-width: 414px) {

    .DownloadScreen{
        padding-top: 0px;
    padding-top: 0px;
    display: inline;
    }
    
    .Download_Info{
        padding-top: 150px;
        display: inline-block;
        height: 700px;
    }

    .Download_Info img{
        height: 250px;
    }
    .Download_Info p{
        font-size: 50px;
        font-weight: 700;
        color: white;
       
        
    }
    
    .download_btn{
        width: 150px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: black;
    }    
    
  }