.EditScreen {
  height: 585px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Personal_Info {
  display: flex;
  justify-content: space-evenly;
}

.Personal_Info p {
  font-size: 50px;
  font-weight: 700;
  color: white;
  width: 200px;
  margin-right: 100px;
}

.Select {
  color: rgb(255, 255, 255);
  width: 380px;
  padding: 5px 0px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.651);
  background-color: transparent;

  letter-spacing: 1px;
}

.Option {
  color: #202327;
}

label {
  
  text-align: left;
  display: block;
  margin-bottom: 0px;

  color: rgba(255, 255, 255, 0.63);
  font-size: 14px;
  font-weight: 300;
}

.Form input {
  color: rgb(255, 255, 255);
  width: 380px;
  height: 30px;
  padding: 5px 5px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  background-color: rgba(255, 254, 254, 0.123);
  
}

.Form textarea{
  color: rgb(255, 255, 255);
  width: 380px;
  height: 60px;
  padding: 5px 5px;
  margin-top: 15px;
  box-sizing: border-box;
  border: none;
  background-color: rgba(255, 254, 254, 0.123);
  font-family: Roboto;
  
}

.Form button {
  margin-top: 15px;
  height: 30px;
  width: 380px;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  letter-spacing: 1px;
  background-color: rgba(253, 253, 253, 0.466);
  color: black;
}

input:focus,
textarea:focus,
select:focus {
  outline:none;
}

.Form button:hover {
  border: none;
  background-color: rgb(204, 197, 197);
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.Form button:disabled {
  border: none;
  background-color:  rgba(255, 254, 254, 0.123);
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  color: rgba(0, 0, 0, 0.247);
  
}

.Testing_btn {
  display: flex;
  justify-content: space-between;
}

.Previous_btn {
  width: 150px;
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.Next_btn {
  width: 150px;
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 10px;
}



@media only screen and (max-width: 414px) {
  .EditScreen {
    
    padding-top: 0px;
    padding-top: 0px;
    display: inline;
  }
  .Personal_Info {
    padding-top: 80px;
    display: inline-block;
    height: 800px;
  }

  .Personal_Info p {
    font-size: 35px;
    font-weight: 700;
    color: white;
    width: 250px;
    margin-right: 0px;
  }

  .Form {
    margin-top: 40px;
  }


  label {
  
    text-align: left;
    display: block;
    margin-bottom: 0px;
  
    color: rgba(255, 255, 255, 0.63);
    font-size: 14px;
    font-weight: 300;
  }
  
  .Form input {
    color: rgb(255, 255, 255);
    width: 380px;
    height: 50px;
    padding: 5px 5px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    background-color: rgba(255, 254, 254, 0.123);
    
  }
  
  .Form button {
    margin-top: 15px;
    height: 50px;
    width: 380px;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    letter-spacing: 1px;
    background-color: rgba(253, 253, 253, 0.466);
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  
  .Form button:hover {
    border: none;
    background-color: rgb(204, 197, 197);
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  
  
}
