.EducationScreen {
  height: 585px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.Education_Info {
  display: flex;
  justify-content: space-evenly;
}

.Education_Info p {
  font-size: 50px;
  font-weight: 700;
  color: white;
  width: 200px;
  margin-right: 100px;
}

.btn_div {
  display: flex;
  justify-content: space-between;
}
.btn_div button {
  margin-top: 15px;
  height: 40px;
  width: 150px;
  font-weight: 700;

  letter-spacing: 1px;
}

@media only screen and (max-width: 414px) {
  .EducationScreen {
    padding-top: 0px;
    padding-top: 0px;
    display: inline;
  }

  .Education_Info {
    padding-top: 80px;
    display: inline-block;
    height: 700px;
  }

  .Education_Info p {
    font-size: 50px;
    font-weight: 700;
    color: white;
    width: 200px;
    margin-right: 100px;
  }
}
