.HomeScreen {
  
  display: flex;
}

.Intro {
  margin-top: 60px;
  width: 500px;
  position: relative;
}

.Punch{
  
  margin-top: 10px;
}

.Desktop_P {
  font-size: 40px;
  font-weight: 700;
  color: white;
  width: 200px;
}

.Mobile_Combo{
  display: none;
}

.Mobile_P{
  display: none;
}
.Combo{
  position: absolute;
  top: 0;
  margin-left: 230px;
  
}

.Sub_P {
  font-size: 25px;
  font-size: 400;
  color: #afafaf;
  margin-top: 10px;
}

.Swipe_Arrow {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.13);
  color: white;
  font-weight: 500;
  margin-top: 50px;
}

.Templates_Container {
  margin-top: 40px;
}

/* .Scrolling_Templates{
    
    /* overflow: hidden;
    white-space: nowrap;
    margin-top: 30px;
    width: 800px; */

.Scrolling {
  width: 800px;
}
.Scrolling_Templates {
  overflow: hidden;
  height: 550px;
  display: flex;
}

.Template_Card {
  width: 380px;
  height: 500px;
  position: relative;
  
  margin-left: 50px;
  /* background-color: tomato; */
}

.Template_Card img {
  width: 380px;
  height: 500px;
}

.Template_Type {
  position: absolute;
  bottom: 110px;
  left: 40px;
  font-weight: 500;
  color: white;
  font-size: 18px;
}
.Rating {
  font-size: 14px;

  font-weight: 400;
}

.About_Template {
  font-size: 12px;
  margin-top: 10px;
  position: absolute;
  bottom: 60px;
  width: 300px;
  left: 40px;
  color: white;
  letter-spacing: 0px;
}

.Template_btn {
  position: absolute;
  width: 140px;
  height: 35px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.616);
  
  font-weight: 500;
  bottom: 0px;
  left: 120px;
  top: 480px;

  font-size: 14px;
  color: black;
}

.Template_btn:hover {
  
  background-color: rgb(255, 255, 255);

  
}

.Swipe_Arrow_Mob{
  display: none;
}


@media only screen and (max-width: 414px) {

  .HomeScreen {
    height: 100vh;
    display: inline-block;
    
  }

  .Intro {
    margin-top: 30px;
    width: 360px;
    margin-left: 10px;
  }
  
  .Punch{
  
    margin-top: 0px;
  }

  .Desktop_P{
    display: none;
  }  


  .Mobile_P{
    display: inline-block;
    font-size: 35px;
    font-weight: 700;
    color: white;
    width: 360px;
    margin-top: 30px;
  }

  .Mobile_Combo{
    display: inline-block;
  }

  .Combo{
    display: none;
  }
  
  .Sub_P {
    font-size: 25px;
    font-size: 400;
    color: #ffffff;
    margin-top: 80px;
    font-weight: 400;
  }
  
  .Swipe_Arrow {
    display: none;/* width: 300px;
    height: 40px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0.13);
    color: white;
    font-weight: 500;
    margin-top: 50px; */
  }
  
  .Templates_Container {
    margin-top: 50px;
  }
  
  /* .Scrolling_Templates{
      
      /* overflow: hidden;
      white-space: nowrap;
      margin-top: 30px;
      width: 800px; */
  
  .Scrolling {
    width: 380px;
    
  }
  .Scrolling_Templates {
    overflow: auto;
    height: 560px;
    display: flex;
    margin-left: 10px;
  }
  
  .Template_Card {
    width: 380px;
    height: 550px;
    position: relative;
    
    margin-left: 0px;
    margin-right: 40px;
    /* background-color: tomato; */
  }
  
  .Template_Card img {
    width: 380px;
    height: 550px;
  }
  
  .Template_Type {
    position: absolute;
    bottom: 130px;
    left: 45px;
    font-weight: 500;
    color: white;
    font-size: 20px;
  }
  .Rating {
    font-size: 14px;
  
    font-weight: 400;
  }
  
  .About_Template {
    font-size: 14px;
    margin-top: 10px;
    position: absolute;
    bottom: 50px;
    left: 45px;
    color: white;
    letter-spacing: 0.5px;
  }
  
  .Template_btn {
    position: absolute;
    width: 200px;
    height: 35px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(255, 255, 255);
  
    font-weight: 500;
    bottom: 0px;
    left: 85px;
    top: 520px;
  
    font-size: 14px;
    color: black;
  }

  .Swipe_Arrow_Mob{
    display: inline-block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    /* background-color: rgba(255, 255, 255, 0.13); */
    color: rgba(255, 255, 255, 0.664);
    font-weight: 500;
    margin-top: 20px;
    font-weight: 300;
    font-size: 14px;
    margin-left: 5px;
    
  }
    
}