* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  
  background-image: url('./imgs/stars.svg');
  padding: 20px 40px;
  font-family: Roboto;
  background-color: #1E2126;
 
}

.Web_Name{
  /* background: -webkit-linear-gradient(#e5ff00,#f7b00a );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #f7b00a;
  font-weight: 700;
  position: fixed;
}



@media only screen and (max-width: 414px) {
  .App{
    
    padding: 20px 10px;
    font-family: Roboto;
    width: 100%;
   
  }

  .Web_Name{
    
    margin-left: 10px;
    font-weight: 700;
    position: fixed;
  }
}